*{
    margin:0;
    padding: 0;
}
body{
    height: 500px;
    background-color: rgb(158, 158, 158);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
h1{
    margin-bottom: 40px;
}
#usuario{
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border: rgb(114, 114, 114) 1px solid;
    text-align: center; 
    
}
#contraseña{
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
    border: rgb(114, 114, 114) 1px solid;
    text-align: center; 
}
#boton{
    border-radius: 15px;
    font-size: 20px;
    padding: 5px 5px 5px 5px;
}